<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<p>
   <%= @attempt %>
</p>

<p>
  <%= @score %> <br>
</p>
<p>
  <%= @time_elapsed %>
   Second(s)
</p>

<%= link_to 'Wanna retry?', 'http://localhost:3000/new' %>
